<ion-header>
  <ion-navbar>
    <ion-title>
      Resumable Video Uploader 
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="square-container" *ngIf="picToView">
        <!-- <img width="200" height="100"  src="data:image/png;base64,{{picToView}}"> -->
        <!-- <img width="200" height="100" src="{{'data:image/png;base64,' + picToView}}"> -->
        <img width="300" height="150" [src] ="picToView">
        <ion-item class="square-container">
            <ion-label class="ion-text-wrap">
                {{ labelFileName }}
            </ion-label>
          </ion-item>
          <ion-item class="square-container">
            <ion-label class="ion-text-wrap">
                {{ extraInfoText }}
            </ion-label>
          </ion-item>
</div>
<div class="square-container">
  <button ion-button [disabled]="isSelectButtonDisabled" block (click)="selectVideo()">
    Select Video
  </button>
  <h1></h1>
</div>

<div >
<button ion-button [disabled]="isUploadButtonDisabled" block (click)="uploadVideoButtonClicked()">
 Start Uploading
</button>
<h1></h1>
</div>
<div >
<button ion-button [disabled]="isStopUploadingButtonDisabled" block (click)="stopUploadVideoButtonClicked()">
  Stop uploading
</button>
</div>
</ion-content>